*{
    margin: 0;
    padding: 0;
}

.question {
    margin: 10px;
}

.generateButton {
    width: 20rem;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: purple;
    border-radius: 7px;
}

.HomePage {
    padding: 120px;
}